H1,
.title {
    font-size: 10ex;
    margin-bottom: 15px;
}

H2,
.sub-title {
    font-size: 6ex;
    margin-bottom: 15px;
}

.banner-title {
    text-align: center;
    font-size: 3ex;
    IMG {
        height: 1.5em;
        vertical-align: middle;
    }
}

.content {
    margin: 30px;
}

BODY {
    margin: 0;
}

CODE {
    display: inline-block;
    background: #DDD;
    font-family: monospace;
    margin: 2px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

PRE {
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px dotted #AAA;
    border-left: 3px solid #77F;
    margin-left: 30px;
    margin-right: 30px;
}