H1,
.title {
    font-size: 10ex;
    margin-bottom: 15px;
}

H2,
.sub-title {
    font-size: 6ex;
    margin-bottom: 15px;
}

.banner-title {
    text-align: center;
    font-size: 3ex;
    IMG {
        height: 1.5em;
        vertical-align: middle;
    }
}